<div class="container-fluid">
  <div class="row">
    <div class="col-md-10">
      <div class="row">
        <div class="col-xs-6">
          <div id="barchart"> </div>
        </div>
        <div class="col-xs-6">
          <div id="linechart"> </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div id="scatterplot"> </div>
        </div>
        <div class="col-xs-6">
          <div id="map"> </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="col-md-12 col-sm-12" id="button"></div>
      <div class="col-md-12 col-sm-12" id="applyButton"></div>
      <div class="col-md-12 col-sm-12" id="sales_slider"></div>
      <div class="col-md-12 col-sm-12" id="profit_slider"></div>
      <div class="col-md-12 col-sm-12" id="start_date"></div>
      <div class="col-md-12 col-sm-12" id="end_date"></div>
      <div class="col-md-12 col-sm-12" id="">
        <p>Current filters below:</p>
      </div>
      <div class="col-md-12 col-sm-12" id="filterState"></div>
    </div>
  </div>
</div>



<!-- appendix -->
<div class="hidden" id="createCrossfilter"></div>


<!-- crossfilter -->
<div class="hidden" id="catSubcatRegionCrossfilter"></div>
<div class="hidden" id="customerIdCrossfilter"></div>
<div class="hidden" id="orderDateCrossfilter"></div>
<div class="hidden" id="orderDateOverviewCrossfilter"></div>
<div class="hidden" id="stateIdCrossfilter"></div>

<!-- data -->
<div class="hidden" id="cat_subcat_region_data"></div>
<div class="hidden" id="customer_id_group_data"></div>
<div class="hidden" id="order_date_group_data"></div>
<div class="hidden" id="order_date_group_data_overview"></div>
<div class="hidden" id="state_id_date_group_data"></div>
<div class="hidden" id="superstore"></div>

<!-- selections -->
<div class="hidden" id="flag_furniture_selected"></div>
<div class="hidden" id="flag_office_supplies_selected"></div>
<div class="hidden" id="flag_technology_selected"></div>
<div class="hidden" id="selected_categories"></div>
<div class="hidden" id="selected_categories_pre"></div>
<div class="hidden" id="selected_customers"></div>
<div class="hidden" id="selected_customers_pre"></div>
<div class="hidden" id="selected_dates"></div>
<div class="hidden" id="selected_date_range"></div>
<div class="hidden" id="selected_dates_pre"></div>
<div class="hidden" id="selected_regions_pre"></div>
<div class="hidden" id="selected_regions"></div>
<div class="hidden" id="selected_regions_furniture"></div>
<div class="hidden" id="selected_regions_office_supplies"></div>
<div class="hidden" id="selected_regions_technology"></div>
<div class="hidden" id="selected_state_ids"></div>
<div class="hidden" id="selected_state_ids_pre"></div>
<div class="hidden" id="selected_subcategories"></div>
<div class="hidden" id="selected_subcategories_pre"></div>
<div class="hidden" id="selected_subcategories_furniture"></div>
<div class="hidden" id="selected_subcategories_office_supplies"></div>
<div class="hidden" id="selected_subcategories_technology"></div>

<!-- signals -->
<div class="hidden" id="signal_bar_furniture"></div>
<div class="hidden" id="signal_bar_office_supplies"></div>
<div class="hidden" id="signal_bar_technology"></div>
<div class="hidden" id="signal_line"></div>
<div class="hidden" id="signal_map"></div>
<div class="hidden" id="signal_scatter"></div>

<!-- utilities -->
<div class="hidden" id="sliderCss"></div>
<div class="hidden" id="createSlider"></div>
<div class="hidden" id="date"></div>
<div class="hidden" id="input"></div>
<div class="hidden" id="log"></div>